<div class="test">
    <h3>This is Component Home</h3>
    <h1>Trái Cây</h1>
    <table id="table">
        <tr>
            <th>Thứ Tự</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Đại Hạ Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ trai.ten | lowercase}}</td>
            <td class="right">
                <span [ngClass]="{'so-am': trai.gia < 0}"> {{ trai.gia | currency: "VND":"symbol":"1.2"}}</span>
            </td>
            <td>{{ trai.haGia | onSale | uppercase}}</td>
        </tr>
    </table>
</div>